<div class="container-fluid">
	<header></header>
	<div>
		<div class="alert params col-lg-12" role="alert">
			<span class="col-lg-4"><b>VLAN Name: </b> LibreOff/Prezi</span>
			<span class="col-lg-4"><b>File Name:</b> LibreOff/Prezi_50_8122015_logs.pcap</span>
			<span class="col-lg-4"><b>Report Date:</b> 8/12/2015 16:25</span>
		</div>
	<div class="row">
		<stats number="6" comments="Unique IPs" colour="primary" type="hashtag"></stats>
		<stats number="18" comments="Unique MACs" colour="yellow" type="hashtag"></stats>
		<stats number="24" comments="ARP Request Rate Per Machine" colour="red" type="hashtag"></stats>
	</div>
	<div class= "row">
		<div class="col-lg-12">
			<d<div ng-controller="MainCtrl">
			<div id="grid1" ui-grid="problemGrid" class="grid" ></div>
		</div>
	</div>
	</div>
	<footer></footer>
</div>