html, body {
  width: 100%;
  height: 100%; }

.panel-yellow {
  border-color: #f0ad4e; }
  .panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e; }
  .panel-yellow a {
    color: #f0ad4e; }
    .panel-yellow a:hover {
      color: #df8a13; }

.panel-green {
  border-color: #5cb85c; }
  .panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c; }
  .panel-green a {
    color: #5cb85c; }
    .panel-green a:hover {
      color: #3d8b3d; }

.panel-red {
  border-color: #d9534f; }
  .panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f; }
  .panel-red a {
    color: #d9534f; }
    .panel-red a:hover {
      color: #b52b27; }

.huge {
  font-size: 40px; }

.grid {
  width: 100%;
  height: 350px; }

.params {
  color: #777;
  background-color: #f8f8f8;
  border-color: #e7e7e7; }

.vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 350px;
  height: 80px;
  text-align: center;
  padding-top: 25px;
  margin: 10px; }

.dragover {
  border: 5px dashed blue; }
